@font-face {
  font-family: 'Actor';
  src: url('../fonts/Actor-Regular.woff2') format('woff2'),
    url('../fonts/Actor-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-Regular.woff2') format('woff2'),
    url('../fonts/InterTight-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #000000;
  --bg-color: #fdc70d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'interregular';
  color: var(--main-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
